@use "@angular/material" as mat;
@include mat.core();

$custom-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$grey-palette, 900),
      accent: mat.define-palette(mat.$blue-palette, 600),
      warn: mat.define-palette(mat.$red-palette, 600),
    ),
    typography: mat.define-typography-config(),
  )
);

@include mat.all-component-themes($custom-dark-theme);

html,
body {
  height: 100%;
  background: #292929;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
