<mat-card>
  <mat-toolbar>
    <span *ngIf="!id">Cadastro do Curso</span>
    <span *ngIf="id >= '0'">Editar Curso</span>
  </mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Nome do Curso</mat-label>
        <input matInput placeholder="Ex: Angular" formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Categoria do Curso</mat-label>
        <mat-select matNativeControl formControlName="category">
          <mat-option value="" selected></mat-option>
          <mat-option value="Front-End">Front-End</mat-option>
          <mat-option value="Back-End">Back-End</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        class="btn-submit"
        (click)="onSubmit()"
      >
        Salvar
      </button>

      <button mat-raised-button [disabled]="!form.valid" (click)="onCancel()">
        Cancelar
      </button>
    </form>
  </mat-card-content>
</mat-card>
